*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 0;
}
.hero-sec{
    height: 100vh;
    width: 100%;
    background-image: url("Web_Photo_Editor.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
}